<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>libechonest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C81C29531326DDBD0048DD51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C86952101329D37E005F6CF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C869523A1329D783005F6CF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C8E5C1AA1315C44A005CED21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C8E5C1B71315C44B005CED21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C8E5C1D71315D5C5005CED21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
